
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.description, .website-link {
    margin: 10px 0;
}


h2 {
    font-family: 'Trebuchet MS', sans-serif;
    color: #3498db;
}

.about, .hobbies, .projects {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #3498db;
}

@media (max-width: 600px) {
    main {
        padding: 10px;
    }

    h2 {
        font-size: 18px;
    }

    .profile img {
        width: 100px;
        height: 100px;
    }
}
